<section class="section">
  <div class="row">
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">待遇</h2><img src="images/about-1.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">社風</h2><img src="images/about-2.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">職場環境</h2><img src="images/about-3.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">研修制度</h2><img src="images/about-4.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
  </div>
</section>