<section class="section">
  <div class="row">
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">事例１</h2><img src="images/example.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">事例２</h2><img src="images/example.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">事例３</h2><img src="images/example.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--2 col-xs-12 col-sm-6 col-md-3">
      <h2 class="section__heading">事例４</h2><img src="images/example.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
  </div>
</section>