<section class="section">
  <div class="row">
    <div class="section__row--1 col-xs-12 col-sm-4">
      <h2 class="section__heading">特徴①</h2><img src="images/feature-1.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--1 col-xs-12 col-sm-4">
      <h2 class="section__heading">特徴②</h2><img src="images/feature-2.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
    <div class="section__row--1 col-xs-12 col-sm-4">
      <h2 class="section__heading">特徴③</h2><img src="images/feature-3.jpg" class="section__img--sm" />
      <p class="section__text">ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト</p>
    </div>
  </div>
</section>