section.section
    .row
      each num, i in ['１', '２', '３', '４']
        .section__row--2.col-xs-12.col-sm-6.col-md-3
          h2.section__heading 事例#{num}
          img.section__img--sm(src="images/example.jpg")
          p.section__text ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト
