section.section
  .row
    - features = [{heading: '特徴④'}, {heading: '特徴⑤'}]
    each feature, i in features
      .section__row--1.col-xs-12.col-sm-6
        h2.section__heading= feature.heading
        img.section__img--sm(src="images/feature-#{i+4}.jpg")
        p.section__text ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト ダミーテキスト
