header.header
  .container
    .header__top.clearfix
      h1.header__title サイト名サイト名サイト名
      .header__info
        p お気軽にお問い合わせください。
        p.header__tel TEL 000-000-0000
        p 受付時間 9:00 - 18:00 [土・日・祝日除く]
    img.header__img(src="images/hero.jpg" alt="")
