doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title bootstrap-v3-sample
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1' name='viewport')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    include partials/header

    main
      .container
        include partials/company
        include partials/business
        include partials/feature
        include partials/feature-2
        include partials/about
        include partials/example
        include partials/faq
        include partials/map
        include partials/last
      include partials/pagetop

    include partials/footer

